<a href="https://colab.research.google.com/github/pitpdatascience/Data_Science/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List**
____
* A list is collection of different data types which is ordered and modifiable(mutable).

* A list can be empty or it may have different data type items.

* Element of the list are enclosed in square brackets and separated by a comma.

* lists indices also start from 0

# **How to Create a List**
In Python we can create lists in two ways:

* Using list built-in function `list()`

* Using square brackets, [ ]

In [ ]:
# first method
list1 = list()
print(list1)
print(type(list1))

# second method

list2 = [1, 2, 3, 4]
print(list2)
print(type(list2))

[]
<class 'list'>
[1, 2, 3, 4]
<class 'list'>

Lists can have items of different data types

In [ ]:
list3 = ['iCodeGuru', 12, True]
print(list3)

['iCodeGuru', 12, True]

# **List Length**
Use `len() `function to determine how many items a list has.

In [ ]:
list3 = ['iCodeGuru', 12, True]
print(len(list3))

3

# **Accessing List Items**


*   Accessing List Items Using Positive Indexing
*   Accessing List Items Using Negative Indexing

In [ ]:
fruits =['apple','banana', 'mango', 'orange']
print(fruits[2])

print(fruits[-1])
print(fruits[len(fruits)-1])

mango
orange
orange

# **Slicing Items from a List**


*   Positive Indexing
*   Negative Indexing

In [ ]:
fruits =['apple','banana', 'mango', 'orange', 'grapes']
print(fruits[0:2])
print(fruits[1:])
print(fruits[-2:3])
print(fruits[-1:4])
print(fruits[-2:4])
print(fruits[::-1])

['apple', 'banana']
['banana', 'mango', 'orange', 'grapes']
[]
[]
['orange']
['grapes', 'orange', 'mango', 'banana', 'apple']

# **Membership Operators in List**
To check if the specified item is present in a list or not we can use membership operators i'e `in` and `not in`

In [ ]:
fruits =['apple','banana', 'mango', 'orange', 'grapes']
print('lemon' in fruits)
print('mango' in fruits)
print('mango' not in fruits)
print('apple'  in fruits [0:4])
print('apple'  in fruits [::-1])
print('apple'  in fruits [0:-1])

False
True
False
True
True
True

# **Modifying Lists**
- List is a mutable or modifiable ordered collection of items.
- To change the value of a specific item, refer to the index number.

In [ ]:
fruits =['apple','banana', 'mango', 'orange', 'grapes']
# fruits[2:4] = ''
fruits [len(fruits) -1] = 'pineapple'
print(fruits)

fruits[fruits.index('mango')]= 'pineapple'
print(fruits)

['apple', 'banana', 'mango', 'orange', 'pineapple']
['apple', 'banana', 'pineapple', 'orange', 'pineapple']

#**Add List Items**

We can add items in the list using:


*   `append()` method
     - To add item to the end of an existing list we use the method append().
*   `insert()` method
    -  To insert a list item at a specified index, use the insert() method
*   `extend()` method
    - To append elements from another list to the current list, use the extend() method.

In [ ]:
fruits = ['Apple', 'Mango', 'Pineapple','Grapes']
vegtables = ['Potato', 'tomato']
#fruits.append('Banana')
#print(fruits)

#insert(index, item  to item)
fruits.insert(1, 'Guave')
print(fruits)

# fruits.extend(vegtables)
vegtables.extend(fruits)
print(vegtables)

['Apple', 'Guave', 'Mango', 'Pineapple', 'Grapes']
['Potato', 'tomato', 'Apple', 'Guave', 'Mango', 'Pineapple', 'Grapes']

#**Remove List Items**

We can remove items from list using:

* `remove()` method

* `pop()` method

* `del` keyword

* `clear()` method

In [ ]:
fruits = ['Apple', 'Mango', 'Pineapple','Grapes', 'Apple']
#fruits.remove('Apple')
#print(fruits)
fruits.pop(0)
print(fruits)
# del fruits[1:3]
# print(fruits
# del fruits
# print(fruits)


#clear
#fruits.clear()
#print(fruits)

['Mango', 'Pineapple', 'Grapes', 'Apple']

# **Copying a List**
You cannot copy a list simply by typing ` list2 = list1, `

because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method `copy().`

In [ ]:
#list2 = ['Helo', 'World', 'Go to the Hell']
#list2 = list1
#print(list1)
#list1.append('list1')
#print(list1)
#print(list2)

list1 = ['Apple', 'Mango', 'Pineapple','Grapes']
#copy1 = list1.copy()
#print(copy1)
#list1.append('Helo')
#print(list1)
#print(copy1)

list()
copy2 = list(list1)
print(copy2)
list1.append('Helo')
print(list1)

#string_1 = 'Helo'

['Apple', 'Mango', 'Pineapple', 'Grapes']
['Apple', 'Mango', 'Pineapple', 'Grapes', 'Helo']

#**Join List**

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the `+` operator.

Another way to join two lists is by appending all the items from list2 into list1, one by one

Or you can use the `extend()` method, which purpose is to add elements from one list to another list

In [ ]:
list1 = ['Apple', 'Mango', 'Pineapple','Grapes']
list2 = ['Helo', 'World']

# combine = list1 + list2
# print(combine)


list1.extend(list2)
print(list1)

['Apple', 'Mango', 'Pineapple', 'Grapes', 'Helo', 'World']

# **Counting Items in a List**
The `count()` method returns the number of times an item appears in a list:

In [ ]:
list1 = [22,22, 24, 25, 26, 24,25,88]
print(list1.count(22))

2

# **Finding Index of an Item**
The `index()` method returns the index of an item in the list

In [ ]:
list1 = [22,22, 24, 25, 26, 24,25,88]
print(list1.index(24))

2

# **Reversing a List**
The `reverse()` method reverses the order of a list.

In [ ]:
list1 = [22,22, 24, 25, 26, 24,25,88] #[::-1]
list1.reverse()
print(list1)

[88, 25, 24, 26, 25, 24, 22, 22]

#**Sort List**

List objects have a `sort()` method that will sort the list alphanumerically, ascending, by default.

To sort descending, use the keyword argument `reverse = True`

In [ ]:
list1 = ['Mango', 'Apple','pineapple']
list1.sort(reverse = True)
print(list1)


list2 = [2,7,9,4,7,3,3]
list2.sort(reverse = True)
print(list2)


# sorted()
list1 = ['Mango', 'Apple','pineapple']
sorted_list = sorted(list1)
sorted(list1)
print(sorted(list1, reverse = True))
print(list1)

['pineapple', 'Mango', 'Apple']
[9, 7, 7, 4, 3, 3, 2]
['pineapple', 'Mango', 'Apple']
['Mango', 'Apple', 'pineapple']

# **Nested List**
If there is a sublist within a list, it is known as nested list. We can access the elements of nested list by using its indexes.

In [ ]:
student = ['Ali', 'Marks', [54, 67], ['pass', 'fail']]
# print(student)

# print(student[1][0])

student1 = student.copy()
student1[2].append('Touseef')
print(student1)
print(student)

['Ali', 'Marks', [54, 67, 'Touseef'], ['pass', 'fail']]
['Ali', 'Marks', [54, 67, 'Touseef'], ['pass', 'fail']]

In [ ]:
sentence = 'Pyhton is amazing and very powerful'

word = sentence.split()
print(word)

last_word = word[-1]
print(last_word)

print(len(last_word))

['Pyhton', 'is', 'amazing', 'and', 'very', 'powerful']
powerful
8